html, body {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  background: #ffffff;
  color: #000000;
  margin: 0em;
  padding: 0;
}

h1, p, h2 {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.body {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1em;
  align-content: space-between;
}

.header {
  padding: 0.7em;
}

.main {
  padding: 0.7em;
}
.main h4 {
  font-weight: normal;
}
.main section {
  padding-bottom: 1em;
  border-bottom: 1px solid #000000;
}
.main section:last-child {
  border-bottom: none;
}

.footer {
  background-color: #cfcfcf;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}