@charset "UTF-8";
html, body {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  background: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

h1, p, h2 {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}
