.form_user{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.1rem;
}

.form_user_dark{
    background-color: #383838;
}

.form_user__img{
    padding-right: 1rem;
}

.form_user__img__wrapper{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px #C2C2C2 dotted;
    border-radius: 0.1rem;
}

.form_user__img__wrapper_dark{
    border: 1px #606060 dotted;
}

.form_user__img__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.form_user__text{
    flex-grow: 1;
}

.button_back{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button_back__button{
    background-color: #ffffff;
    padding: 0.3rem 0.4rem;
    border: 1px solid #000000;
    margin: 0.4rem 0;
    color: #000000;
}

.button_back__button_dark {
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.button_back__button:hover{
    cursor: pointer;
}

